---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ContinuationIndentWidth: 8
IndentCaseLabels: false
IndentWidth: 4
PenaltyBreakTemplateDeclaration: 0
PenaltyReturnTypeOnItsOwnLine: 100000
SpaceAfterTemplateKeyword: false
SpacesInContainerLiterals: false

...
