# General Colors
*.foreground:  #00f900
*.background:  #333333
*.cursorColor: #bbbbbb
!
! Black
*.color0:      #262626
*.color8:      #2b2b2b
!
! Red
*.color1:      #d33538
*.color9:      #ff4144
!
! Green
*.color2:      #00b000
*.color10:     #54ff54
!
! Yellow
*.color3:      #a9a600
*.color11:     #ffff54
!
! Blue
*.color4:      #1b66c8
*.color12:     #237bff
!
! Magenta
*.color5:      #d028d0
*.color13:     #ff31fc
!
! Cyan
*.color6:      #00b3bf
*.color14:     #54ffff
!
! White
*.color7:      #cacaca
*.color15:     #feffff
!
! Bold, Italic, Underline
*.colorBD:     #ffffff
!*.colorIT:
!*.colorUL:
